.home-container {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .title {
    font-size: 24px;
    color: blue;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .cartas {
    margin: 10px;
    padding: 10px;
    background-color: rgb(6, 128, 168);
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .home-container {
    background: linear-gradient(to bottom right, #ff0000, #ffe600); 
    position: relative; 
    overflow: hidden; 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
  }
  .create-button {
    background-color: rgb(29, 29, 151); 
    color: white; 
    border-radius: 5px; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer;
    margin-right: 10px;
  }
  
  .reload-button {
    background-color: rgb(29, 29, 151); 
    color: white; 
    border-radius: 5px; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer;
    margin-right: 10px;
  }

  